<div class="sidebar  bg-dark sidebar-narrow-unfoldable border-end">
    <div class="sidebar-header border-bottom">
      <div class="sidebar-brand">Profolio</div>
    </div>
    <ul class="sidebar-nav">
      <li class="nav-title">Dashboard</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="panel">
          <i class="nav-icon cil-speedometer .text-light"></i> Panel
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listing">
          <i class="nav-icon cil-speedometer .text-light"></i> Property Listing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog_posting">
          <i class="nav-icon cil-speedometer .text-light"></i> Blog Posting
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin_control">
          <i class="nav-icon cil-speedometer .text-light"></i> Admin Control
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="setting">
          <i class="nav-icon cil-speedometer .text-light"></i> Setting
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon cil-speedometer"></i> With badge
          <span class="badge bg-primary ms-auto">NEW</span>
        </a>
      </li> -->
      <li class="nav-item mt-auto">
        <a class="nav-link" href="https://coreui.io">
          <i class="nav-icon cil-cloud-download"></i> Download CoreUI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://coreui.io/pro/">
          <i class="nav-icon cil-layers"></i> Try CoreUI
          <strong>PRO</strong>
        </a>
      </li>
    </ul>
  </div>