<section class="d-flex main-section my-2">
    <div id="dashboard" class="dashboard col-12" >
     <div class="container_fluid">
      <div class="d-block d-lg-flex d-md-flex">
        <div class="col-lg-6 col-md-6 col-12">
          <h1 class="p-lg-4 p-md-4 p-0 ">Welcome User</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-12 d-flex my-lg-4 my-md-4 my-0">
          <div class="search_box w-75">
            <div class=" input-group">
              <input type="text " class="form-control  my-2">
              <label for="" class="input-group-text my-2 bg-success text-light">Search</label>
              <!-- <a class="btn btn-primary w-25 m-2 d-none d-md-block d-lg-block" href="./listing.html">Property Listing</a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="show-property">
          <div class=" px-4 card_wrapper" >
            <div class="card my-4" >
              <div class="d-flex">

                <img class="card-img-top w-50" src="../assets/1.jpeg" alt="Card image cap">
                <div class="card-body w-75">
                  <h5>Rs: 4,500,000</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p>property owner details</p>
                </div>
              </div>
            </div>
            <div class="card my-4" >
              <div class="d-flex">

                <img class="card-img-top w-50" src="../assets/1.jpeg" alt="Card image cap">
                <div class="card-body w-75">
                  <h5>Rs: 4,500,000</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p>property owner details</p>
                </div>
              </div>
            </div>
            <div class="card my-4" >
              <div class="d-flex">

                <img class="card-img-top w-50" src="../assets/1.jpeg" alt="Card image cap">
                <div class="card-body w-75">
                  <h5>Rs: 4,500,000</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p>property owner details</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
     </div>
    </div>
  </section>