<div class="main">
    <div class="banner text-center">
        <!-- <h1>Term of Use</h1>  -->
    </div>   
      <h3 class="m-4 px-4 text-center" >Real Estate Agents</h3>
      <section class="container ">
        <div class="agent-list">
         

              <div class="card m-4  m-md-2 m-lg-3 p-3" >
                <div class="d-flex">
                  <div class="card_img p-2">
                    <img class="card-img-top" src="../../assets/agent-profile.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body">
                    <span class="teamBadge p-1">Team</span>
                    <h4>Matt Laricy</h4>
                    <div>Agency Name LHR</div>
                    <div class="my-2">
                      <div><b>$13K-$5.6M</b> team price range</div>
                      <div><b>478</b>team sales last 12 months</div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="card m-4  m-md-2 m-lg-3 p-3" >
                <div class="d-flex">
                  <div class="card_img p-2">
                    <img class="card-img-top" src="../../assets/agent-profile.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body">
                    <span class="teamBadge p-1">Team</span>
                    <h4>Matt Laricy</h4>
                    <div>Agency Name LHR</div>
                    <div class="my-2">
                      <div><b>$13K-$5.6M</b> team price range</div>
                      <div><b>478</b>team sales last 12 months</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card m-4  m-md-2 m-lg-3 p-3" >
                <div class="d-flex">
                  <div class="card_img p-2">
                    <img class="card-img-top" src="../../assets/agent-profile.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body">
                    <span class="teamBadge p-1">Team</span>
                    <h4>Matt Laricy</h4>
                    <div>Agency Name LHR</div>
                    <div class="my-2">
                      <div><b>$13K-$5.6M</b> team price range</div>
                      <div><b>478</b>team sales last 12 months</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card m-4  m-md-2 m-lg-3 p-3" >
                <div class="d-flex">
                  <div class="card_img p-2">
                    <img class="card-img-top" src="../../assets/agent-profile.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body">
                    <span class="teamBadge p-1">Team</span>
                    <h4>Matt Laricy</h4>
                    <div>Agency Name LHR</div>
                    <div class="my-2">
                      <div><b>$13K-$5.6M</b> team price range</div>
                      <div><b>478</b>team sales last 12 months</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
      </section>

      <section>
        <div class="finding_agent">
          <div class="container">
            <div class="m4 text-light section_txt">
              <h1>
                Get help finding an agent
              </h1>
              <p class="py-2">
                We'll pair you with a Zillow Premier Agent who has the inside scoop on your market.
              </p>
              <button class=" btn-light btn">
                Connect with a local agent
              </button>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="faq">
          <h1 class="text-center text-light py-4">Frequently asked questions</h1>
          <div class="faq-question container">
            <div class="accordion accordion-flush acc_bg" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    Accordion Item #1
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Accordion Item #2
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Accordion Item #3
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </section>
</div>