<div class=" col-12 ">
    <div class="container_fluid">
       <h1 class=" p-4">Welcome User</h1>
     <div class="col-12 px-4">
       <h5>Public User Details</h5>
       <table class="table table-hover">
           <thead>
             <tr>
               <th scope="col">Sr#</th>
               <th scope="col">Name</th>
               <th scope="col">Role</th>
               <th scope="col">Email</th>
               <th scope="col">Phone</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>user</td>
               <td>example&#64;email.com</td>
               <td>0300-0000000</td>
             </tr>
             <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>user</td>
               <td>example&#64;email.com</td>
               <td>0300-0000000</td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>acob</td>
               <td>user</td>
               <td>example&#64;email.com</td>
               <td>0300-0000000</td>
             </tr>
           </tbody>
         </table>
     </div>
     <div class="col-12 px-4">
       <h5>Agents Details</h5>
       <table class="table table-hover">
           <thead>
             <tr>
               <th scope="col">Sr#</th>
               <th scope="col">Name</th>
               <th scope="col">Role</th>
               <th scope="col">Email</th>
               <th scope="col">Phone</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Agent</td>
               <td>example&#64;email.com</td>
               <td>0300-0000000</td>
             </tr>
             <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Agent</td>
               <td>example&#64;email.com</td>
               <td>0300-0000000</td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>acob</td>
               <td>Agent</td>
               <td>example&#64;email.com</td>
               <td>0300-0000000</td>
             </tr>
           </tbody>
         </table>
     </div>
    </div>
   </div>